/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  max-width 450px!important

.page h2 img { width:50px; margin-top:-5px;}
.page code {padding:0.25rem 0.25rem;}
